body {
  background-color: #282c34;
  color: #abb2bf;
  font-family: Arial, sans-serif;
}
h1, h2, p {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.button-group, .left-speed-button-group, .right-speed-button-group, .leftest-speed-button-group, .rightest-speed-button-group {
  display: row;
  flex-direction: column;
  padding-right: 15px;
  padding-left: 15px;
}

.speed-button {
  background-color: #414141;
  color: #abb2bf;
  width: 3.8em;
  border: none;
  border-radius: 4px;
  padding: 10px;
  padding-top: 7px;
  padding-bottom: 6px;
  margin: 10px;
  margin-top: 4px;
  margin-bottom: 4px;
  cursor: pointer;
}

.right-speed-button, .left-speed-button, .rightest-speed-button, .leftest-speed-button {
  background-color: #414141;
  color: #abb2bf;
  width: 3.8em;
  border: none;
  border-radius: 4px;
  padding: 10px;
  padding-top: 7px;
  padding-bottom: 6px;
  margin: 10px;
  margin-top: 4px;
  margin-bottom: 4px;
  cursor: pointer;
}

/* .speed-button.selected {
  background-color: #465765;
  color: #c4c7cb;
} */

.speed-button.selected, .right-speed-button.selected, .left-speed-button.selected, .rightest-speed-button.selected, .leftest-speed-button.selected {
  background-color: #4d9ad8;
  color: #fff;
}

.tooltip {
  display: none;
  position: absolute;
  background: #333;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  font-size: 12px;
}



.inputs-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-input,
.right-input {
  flex-grow: 1;
  text-align: center; 
}

.label {
  margin-bottom: 0.5em !important;
}

#period-quantity, #comma-quantity {
  margin-bottom: 1em;
}




/* 
body {
  font-family: Arial, sans-serif;
  padding: 15px;
} */

.switch-container {
  margin: 10px 0;
  margin-bottom: 0px;
  text-align: center;
}

/* Styling for the label */
label {
  display: block;
  margin-bottom: 5px;
  text-align: center;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.small-switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.small-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.small-slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

input:checked + .small-slider {
  background-color: #2196F3;
}

input:focus + .small-slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .small-slider:before {
  -webkit-transform: translateX(21px);
  -ms-transform: translateX(21px);
  transform: translateX(21px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 4px;
}

.slider.round:before {
  border-radius: 4px;
}

.small-slider.round {
  border-radius: 4px;
}
.small-slider.round:before {
  border-radius: 4px;
}